alabaster==0.7.12
appdirs==1.4.3
appnope==0.1.0
asn1crypto==0.24.0
astroid==2.1.0
atomicwrites==1.3.0
attrs==18.2.0
aws-xray-sdk==0.95
awscli==1.15.85
Babel==2.6.0
backcall==0.1.0
bleach==3.1.0
blinker==1.4
boto==2.49.0
boto3==1.7.84
botocore==1.10.84
bz2file==0.98
cachetools==3.1.0
certifi==2019.3.9
cffi==1.11.2
chardet==3.0.4
Click==7.0
cloudpickle==0.7.0
colorama==0.3.9
conllu==0.11
cookies==2.2.1
cryptography==2.5
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.2
dicttoxml==1.7.4
dill==0.2.9
docker==3.7.0
docker-pycreds==0.3.0
docutils==0.14
ecdsa==0.13
editdistance==0.5.2
entrypoints==0.3
flaky==3.5.3
Flask==0.12.4
Flask-Cors==3.0.3
ftfy==4.4.3
future==0.17.1
gensim==3.4.0
gevent==1.3.6
grammaregex==0.1.3
greenlet==0.4.13
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ijson==2.3
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonnet==0.10.0
jsonpickle==1.1
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
keyring==17.1.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.4
mock==2.0.0
more-itertools==4.3.0
moto==1.3.4
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nltk==3.4
notebook==5.7.6
numba==0.42.1
numpy==1.16
numpydoc==0.8.0
oauthlib==2.1.0
overrides==1.9
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parsimonious==0.8.0
parso==0.3.2
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
plac==0.9.6
pluggy==0.8.1
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.8
protobuf==3.6.1
psutil==5.5.0
ptyprocess==0.6.0
py==1.7.0
pyaml==18.11.0
pyasn1==0.4.4
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.7.3
pyemd==0.5.1
pyflakes==2.1.0
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.2.2
pyOpenSSL==19.0.0
pyparsing==2.3.1
Pyphen==0.9.5
PySocks==1.6.8
pytest==4.2.0
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-jose==2.0.2
pytz==2017.3
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.6
qtconsole==4.4.3
QtPy==1.6.0
regex==2018.1.10
requests==2.21.0
requests-oauthlib==1.0.0
responses==0.9.0
rope==0.11.0
rosette-api==1.12.1
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
Send2Trash==1.5.0
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
snowballstemmer==1.2.1
spacy==2.0.18
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
sqlparse==0.2.4
tensorboardX==1.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
textpipeliner==0.3.1
thinc==6.12.1
toolz==0.9.0
torch==0.4.1
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
twython==3.7.0
typed-ast==1.1.0
typing==3.6.4
ujson==1.35
umap-learn==0.3.7
Unidecode==1.0.23
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
wrapt==1.10.11
wurlitzer==1.0.2
xmltodict==0.12.0
